@model tbl_Icerik

@{
    ViewBag.Title = "Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    
}
 
<section>
    <div class="row">
        <div class="ekleModalBox">
            <div class="portlet light bordered">
                <div class="portlet-title baslikBgDesen">
                    <div style="background-color:#ebc37a !important;  min-height:50px; opacity:0.4;border-radius:10px 10px 0px 0px!important;"></div>
                    <div class="caption" style="position:absolute; top:0px;">
                        <i class="icon-plus"></i>Modül @(Model.ID == 0 ? "Ekle" : "Düzenle")
                    </div>
                </div>
                <div class="portlet-body form EkleForm AramaEkleEleman">
                    <!-- BEGIN FORM-->
                    <form method="post" action="@Url.Action("Ekle","Modul",new {area="Yonetim" })">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <input type="hidden" name="ModulID" value="@Model.ModulID" />
                        <div class="form-body">

                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>Zorunlu alanları doldurunuz !
                            </div>

                            <div class="form-group">
                                <label class="control-label blockBaslik">Başlık<span style='color:red'>*</span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="Baslik" autocomplete="off" value="@Model.Baslik" placeholder="Başlık Gİr">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label blockBaslik">Özet<span style='color:red'>*</span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                   <textarea name="Ozet" class="form-control" >@Model.Ozet</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label blockBaslik">Aktif Olsun mu<span style='color:red'>*</span></label>
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label>
                                            <input type="radio" class="option-input radio" name="isAktif" value="true" @(Model.isAktif ? "checked=checked" : "") /> Evet
                                        </label>
                                        <label>
                                            <input type="radio" class="option-input radio" value="false" name="isAktif" @(!Model.isAktif ? "checked=checked" : "") /> Hayır
                                        </label>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label blockBaslik">İçerik<span style='color:red'>*</span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <textarea name="Icerik" class="form-control">@Model.Icerik</textarea>
                                </div>
                            </div>

                       
                            <div class="form-group">
                                <label class="control-label blockBaslik">Keyword<span style='color:red'>*</span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="Keyword" autocomplete="off" value="@Model.Keyword" placeholder="Keyword">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label blockBaslik">Description<span style='color:red'>*</span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="Description" autocomplete="off" value="@Model.Description" placeholder="Description">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label blockBaslik">Sira Numarası<span style='color:red'>*</span></label>
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="SiraNo" autocomplete="off" value="@Model.SiraNo">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-center">
                            <button type="submit" class="btn duzenleBtn">Kaydet</button>

                        </div>
                    </form>
                    <!-- END FORM-->
                </div>



            </div>
        </div>
    </div>
</section>
